.lead__heading {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  color: #FFFFFF;
  max-width: 720px;
  margin: 0 auto 0 auto;
  font-size: 96px;
  line-height: 1.04;
}

@media (max-width: 1024px) {
  .lead__heading {
    margin: 0 auto 0 auto;
  }
}

@media (max-width: 767px) {
  .lead__heading {
    font-size: 40px;
    line-height: 1.1;
  }
}