.lead {
  margin: 56px 100px 0 100px;
  width: calc(100% - 200px);
}

@media  (max-width: 1024px) {
  .lead {
    margin: 48px 48px 0 48px;
    width: calc(100% - 96px);
  }
}
@media  (max-width: 768px) {
  .lead {
    margin: 48px 0 0 0 ;
    width: 100%;
  }
}
