.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 28px 48px 0 48px;
  width: calc(100% - 96px);
}

@media (max-width: 1023px) {
  .header {
    margin: 28px 24px 0 24px;
    width: calc(100% - 48px);
  }
}

@media (max-width: 767px) {
  .header {
    margin: 16px 16px 0 16px;
    width: calc(100% - 32px);
  }
}