.footer__link {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.12;
}

.footer__link:hover {
  transition: linear;
  opacity: 0.5;
}

@media all and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}

