.footer__link {
  margin: 0;
  padding: 0;
  font-family: 'Inter','Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
}
.footer__link:hover {
  transition: linear;
  opacity: 0.5;
}
@media screen and (min-width: 1280px) {
  .footer__link {
    font-size: 16px;
  line-height: 1.12;
  }
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .footer__link {
    font-size: 16px;
  line-height: 1.12;
  }
}

@media all and (max-width: 1023px) and (min-width: 768px) {
  .footer__link {
    font-size: 16px;
  line-height: 1.12;
  }
}
@media all and (max-width: 767px) and (min-width: 320px) {
  .footer__link {
    font-size: 24px;
  line-height: 1;
  }
}