.cover__subheading {
  position: relative;
  max-width: 360px;
  font-family: 'Inter','Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  z-index: 20;
  align-self: center;
  margin: 32px auto 0 auto;
    font-size: 18px;
    line-height: 1.22;
}

@media all and (max-width: 767px) {
  .cover__subheading {
    margin: 16px auto 0 auto;
    font-size: 14px;
    line-height: 1.14;
  }
}
