.footer {
  padding: 0;
  display: flex;
  justify-content: space-between;
  justify-self: left;
  width: calc(100% - 96px);
  margin: 0 48px 24px 48px;
  flex-direction: row;
}

@media all and (max-width: 1023px) {
  .footer {
    width: calc(100% - 48px);
    margin: 0 24px 24px 24px;
  }
}

@media all and (max-width: 767px) {
  .footer {
    margin: 0 auto 24px 16px;
    width: fit-content;
    flex-direction: column;
  }
}