.cover__heading {
  position: relative;
  margin: 245px auto 0 auto;
  font-family: 'Inter','Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  color: #FFFFFF;
  z-index: 20;
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  .cover__heading {
   
    margin: 245px auto 0 auto;
    max-width: 560px;
    font-size: 72px;
  line-height: 1.06;
  }
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .cover__heading {
    margin: 195px auto 0 auto;
    
    max-width: 560px;
    font-size: 72px;
  line-height: 1.06;
  }
}

@media all and (max-width: 1023px) and (min-width: 768px) {
  .cover__heading {
    margin: 115px auto 0 auto;
    max-width: 560px;
    font-size: 72px;
  line-height: 1.06;
  }
}
@media all and (max-width: 767px) and (min-width: 320px) {
  .cover__heading {
    margin: 33px auto 0 auto;
    max-width: 288px;
    font-size: 32px;
  line-height: 1.09;
  }
}