.cover__heading {
  position: relative;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  color: #FFFFFF;
  z-index: 20;
  text-decoration: none;
  align-self: center;
  margin: 0;
  max-width: 560px;
  font-size: 72px;
  line-height: 1.06;
}

@media all and (max-width: 767px) {
  .cover__heading {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.09;
  }
}


