.footer__info-sections {
  list-style-type: none;
  display: flex;
  padding: 0;
  flex-direction: row;
  margin: 0
}


@media all and (max-width: 767px) {
  .footer__info-sections {
    flex-direction: column;
    margin: 0 0 48px 0;
  }
}