.place__url {
  display: inline-block;
  margin: 0 0 12px 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color: #AAAAAA;
  text-transform: uppercase;
}

@media (max-width: 1280px) {
  .place__url {
    line-height: 1.7;
  }
}

@media (max-width: 1024px) {
  .place__url {
    line-height: 1;
  }
}