 .place__website {
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
 }

 @media (max-width: 1280px) {
   .place__website {
     margin: 0;
     width: 100%;
     justify-content: flex-end;
   }
 }

 @media (max-width: 767px)  {
   .place__website {
     padding: 0 0 0 16px;
     min-width: calc(100%-16px);
   }
 }